<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content [formGroup]="insertMemberForm">

  <mat-form-field>
    <input matInput placeholder="Nome" formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Título" formControlName="personal_title">
  </mat-form-field>

  <mat-form-field>
    <mat-select [(value)]="gender" placeholder="Selecionar Género" formControlName="gender">
      <mat-option value=0 type="number">Masculino</mat-option>
      <mat-option value=1 type="number">Feminino</mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field>
    <mat-select [(value)]="nationality" placeholder="Nacionalidade" formControlName="nationality">
      <mat-option value=1 type="number">Portuguesa</mat-option>
      <mat-option value=2 type="number">Brasileira</mat-option>
      <mat-option value=3 type="number">Americana</mat-option>
      <mat-option value=4 type="number">Espanhola</mat-option>
      <mat-option value=5 type="number">Inglesa</mat-option>
      <mat-option value=6 type="number">Francesa</mat-option>
      <mat-option value=7 type="number">Alemã</mat-option>
      <mat-option value=8 type="number">Japonesa</mat-option>
      <mat-option value=9 type="number">Chinesa</mat-option>
      <mat-option value=10 type="number">Angolana</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="birth_date_picker" placeholder="Data de Nascimento" [formControl]="birth_date">
    <mat-datepicker-toggle matSuffix [for]="birth_date_picker"></mat-datepicker-toggle>
    <mat-datepicker #birth_date_picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="death_date_picker" placeholder="Data de Falecimento" [formControl]="death_date">
    <mat-datepicker-toggle matSuffix [for]="death_date_picker"></mat-datepicker-toggle>
    <mat-datepicker #death_date_picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Rua" formControlName="street_name">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Número da Porta" formControlName="door_number">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Apartamento" formControlName="flat">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Código Postal" formControlName="postal_code">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Cidade" formControlName="city">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Contacto Principal" formControlName="contact1">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Contacto Alternativo" formControlName="contact2">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email" formControlName="email">
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="baptism_date_picker" placeholder="Data de Baptismo" [formControl]="baptism_date">
    <mat-datepicker-toggle matSuffix [for]="baptism_date_picker"></mat-datepicker-toggle>
    <mat-datepicker #baptism_date_picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="communion_date_picker" placeholder="Data da Comunhão" [formControl]="communion_date">
    <mat-datepicker-toggle matSuffix [for]="communion_date_picker"></mat-datepicker-toggle>
    <mat-datepicker #communion_date_picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="confirmation_date_picker" placeholder="Data da Confirmação" [formControl]="confirmation_date">
    <mat-datepicker-toggle matSuffix [for]="confirmation_date_picker"></mat-datepicker-toggle>
    <mat-datepicker #confirmation_date_picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-select [(value)]="marital_status" placeholder="Estado Civil" formControlName="marital_status">
      <mat-option value="Solteiro">Solteiro</mat-option>
      <mat-option value="Casado">Casado</mat-option>
      <mat-option value="Divorciado">Divorciado</mat-option>
      <mat-option value="Viúvo">Viúvo</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select [(value)]="partner_id" placeholder="Cônjuge" formControlName="partner_id">
      <mat-option *ngFor="let member of members" [value]="member.id">{{member.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ocupação" formControlName="occupation">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Habilitações Literárias" formControlName="professional_qualifications">
  </mat-form-field>

  <mat-form-field>
    <mat-select [(value)]="father_id" placeholder="Pai" formControlName="father_id">
      <mat-option *ngFor="let member of filterMales" [value]="member.id">{{member.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select [(value)]="mother_id" placeholder="Mãe" formControlName="mother_id">
      <mat-option *ngFor="let member of filterFemales" [value]="member.id">{{member.name}}</mat-option>
    </mat-select>
  </mat-form-field>

</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-button color="accent" (click)="close()">CANCELAR</button>
  <button mat-button color="accent" (click)="save()">{{action}}</button>
</div>