<mat-toolbar class="mat-elevation-z1">
  <button mat-button class="app-menu-button" id="menu" (click)="sidenav.toggle()">
      <i class="material-icons">menu</i>
  </button>
  <span class="title">Gestão de Finanças</span>
</mat-toolbar>

<mat-sidenav-container>            
  <mat-sidenav #sidenav mode="over" opened="false">
      <mat-nav-list>
          <side-nav-menu *ngFor="let item of navItems" [item]="item"></side-nav-menu>
      </mat-nav-list>
  </mat-sidenav>

  <router-outlet></router-outlet>
      
</mat-sidenav-container>
