@import '../../../finances-explorer-project-theme.scss';

:host {
  display: block;
  outline: none;

  .mat-list-item.active {
    background: mat-color($primary, 500);
    color:#fff;
  }
  
  &:hover,
  &:focus {
    >.mat-list-item:not(.expanded) {
      background:  mat-color($accent, 500);
      color:#fff;
    }
  }
}
  
.mat-list-item {
  padding: 8px 0;
  color:mat-color($primary, 500);
 

  .routeIcon {
    margin-right: 40px;
  }

  .indicator-icon{
    position: absolute;
    right: 10px;
    top: 10px;
  }
}